.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiPickersDay-isSelected, .MuiPickersToolbar-toolbar {
  background-color: #2ca01c !important;
}

.MuiButton-textPrimary {
  color: #2ca01c !important;
}


.MuiStepIcon-root.MuiStepIcon-active, .MuiCircularProgress-colorPrimary, .MuiStepIcon-root.MuiStepIcon-completed {
  color: #2ca01c !important;
}


.ViewCasesPage .MuiTypography-subtitle1 {
  text-transform: capitalize;
}

.MuiButtonBase-root {
  outline: none !important;
}


 html,
  body {
    height: 100%;
    width: 100%;
    font-family: Avenir-Regular;
    background-color: #fff;
  }

  #app {
    background-color: #fff;
    min-height: 100%;
    min-width: 100%;
    font-family: Avenir-Regular;
  }

  p,
  label {
    font-family: Avenir-Regular;;
    line-height: 1.5em;
  }

  .MuiButton-containedPrimary{
      background-color: #2ca01c !important;
    }

  a {
    text-decoration: none;
  }  

  .MuiFilledInput-multiline {
    padding: 12px 12px 10px;
  }


  .MuiButton-contained.Mui-disabled {
    background-color: #2ca01c9c !important;
    color: white !important;
  }